### Second method for pgcli problems

In [20]:
#-r is used to install the packages from the requirements.txt file
!pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 2)) (2.0.37)
Requirement already satisfied: psycopg2-binary in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 3)) (2.9.10)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)

In [21]:
import pandas as pd

In [22]:
pd.__version__

'2.2.3'

In [23]:
!pip install sqlalchemy psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.0.37)
Requirement already satisfied: psycopg2-binary in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.9.10)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy) (4.12.2)

In [24]:
from sqlalchemy import create_engine

In [25]:
#Connection string structure: postgresql://username:password@host:port/database_name
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [26]:
engine.connect()

In [29]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, engine)

   number
0       1

```sql
    SELECT * 
    FROM pg_catalog.pg_tables
        WHERE schemaname != 'pg_catalog' AND 
        schemaname != 'information_schema';
```

Source: https://neon.tech/postgresql/postgresql-administration/postgresql-show-tables

In [30]:
#The following query is an equivalent for doing \dt with pgcli
query = """
SELECT * 
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';
"""

pd.read_sql(query, engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,False,False,False,False

In [31]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [32]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [ ]:
df.to_sql(name="yellow_taxi_data", con=engine, index=False)

In [33]:
query = """
SELECT *
FROM yellow_taxi_data
LIMIT 10;
"""

pd.read_sql(query, engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,None
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,None
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,None
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,None
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,None